name: Build and Deploy Jekyll site to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show workspace to verify Gemfile
        run: ls -lah ${{ github.workspace }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - name: Install Dependencies
        run: bundle install
        working-directory: ${{ github.workspace }}

      - name: Build Jekyll Site
        run: bundle exec jekyll build --trace -d _site
        working-directory: ${{ github.workspace }}

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    needs: build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages

    runs-on: ubuntu-latest

    steps:
      - name: Deploy site
        id: deployment
        uses: actions/deploy-pages@v4
